.movie-card {
	border: 2px solid #666666;
	border-radius: 0px 20px 0px 20px;
	overflow: hidden;
	margin: 5px;
	background-color: #FFFFFF;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
