.home-container {
  display: flex;
  flex-direction: row;
}

.home-sidebar {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.home-favorites, .home-scroll-chart  {
  min-height: 100px;
}

@media all and (max-width: 500px) {
  .home-container {
    flex-wrap: wrap;
  }
}
